.MainContent__contenedor {
  display: grid;
  grid-template-columns: 1fr;
  background-color: transparent;
  
}

.MainContent__section__testimony{
    padding: 0 0 25vh 0;

}


.MainContent__section__testimony__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.MainContent__section__how{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 8vw;
  
}

.MainContent__section__why{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 8vw;

}