/* BoxInputImage.module.css */

/* Inicio Principal Container */
.BoxInputImage__container {
  border: 6px dotted #BF9F78; /* Grosor de línea aumentado */
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  background-color: #1F1F1F; /* Color de fondo */
  width: 100%;
  height: 450px;

}





.BoxInputImage__button_input {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #BF9F78;
  color: rgb(0, 0, 0); /* Color de texto para el botón */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 14px; /* Bordes redondeados para el botón */
  transition: background-color 0.3s ease; /* Transición suave al cambiar de color */
  margin: 2vh 0;
  font-weight: 400;

  


}
.BoxInputImage__icon {
  font-size: 2rem;
  margin-right: 10px;
  color: #2b1a06;
  align-items: center;
  justify-content: center;
}



.BoxInputImage__fileDetails {
  margin-top: 20px;
  padding: 10px;
  display: inline-block;
  border-radius: 14px;

}


.BoxInputImage__button {
  background-color:#c5c5c5; /* Color de fondo para el botón */
  color: rgb(0, 0, 0); /* Color de texto para el botón */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px; /* Bordes redondeados para el botón */
  transition: background-color 0.3s ease; /* Transición suave al cambiar de color */
  margin: 2vh 0;
  font-weight: 400;

}



/* Final Principal Container */

/* Inicio Footer Container */

.BoxInputImage__container_footer{
  display: flex;
  justify-content: center;
  align-items: center;



}


.BoxInputImage__text{
 
  font-size: 12px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;


  
  
}

/* Final Footer Container */




/* Media queries para pantallas pequeñas (smartphones) */
@media (max-width: 600px) {
  
}

 


/* Media queries para pantallas grandes (laptops y escritorios) */
@media (min-width: 1005px) {
 
  

}

/* Media queries para pantallas grandes (laptops y escritorios) */
@media (min-width: 1762px) {
 
  

}



/* Media queries para pantallas grandes (laptops y escritorios) */
@media (max-width: 1954px) {
 
  

}