.Hero__container_master {
  text-align: center;
  color: #F2F2F2; /* Color de texto principal */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Establece el ancho del contenedor */
  min-height: 90%; /* Establece la altura mínima del contenedor */
}

.Hero__container {
  text-align: center;
  display: flex;
  flex-direction: row; /* Elementos en fila */
  align-items: stretch; /* Cambiado de center a stretch */
  width: 80%;
  max-width: 1450px;
}

.Hero__start, .Hero__end {
  flex: 1; /* Ambos ocuparán igual espacio */
  display: flex; /* Usa flexbox para alinear internamente */
  justify-content: center; /* Alinea horizontalmente */
  min-height: 30vw; /* Altura mínima igual al contenedor */
  flex-direction: column; /* Elementos en columna */
}

.Hero__start {
  flex: 1;
  flex-direction: column;
  align-items: center; /* Alinea verticalmente en el centro */
  padding: 0 35px; /* Añade un poco de espacio alrededor del texto */
  
  



}

.Hero__end {
  flex: 1;
  flex-direction: column;
  margin-top: auto;
  padding: 0 35px; /* Añade un poco de espacio alrededor del texto */

 
}

@media screen and (max-width: 755px) {
  .Hero__container {
    flex-direction: column; /* Elementos en columna */
    align-items: center;
  }
  
  .Hero__start, .Hero__end {
    min-height: 0; /* Elimina la altura mínima */
  }
  
  .Hero__start {
    padding: 0 35px; /* Añade un poco de espacio alrededor del texto */
  }
  
  .Hero__end {
    padding: 0 35px; /* Añade un poco de espacio alrededor del texto */
  }
}

