:root {
  --font-mono: ui-monospace, Roboto, Menlo, Monaco,'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    text-wrap: balance;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #0D0D0D;
}

/* styles/global.css */

/* Global styles for custom scrollbars */
::-webkit-scrollbar {
  display: none;
}


