/* Estilos base para HomeTitle */

.HomeTitle__header {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out; /* Transición suave para ajustes de margen */
}

.HomeTitle__title {
  font-size: 4.8rem;
  color: #F2F2F2; /* Color de texto oscuro */
  text-align: start;
  font-weight: 400;
  transition: font-size 0.3s ease-in-out, max-width 0.3s ease-in-out, text-align 0.3s ease-in-out; /* Transiciones suaves para tamaño de fuente, ancho máximo y alineación del texto */
}

.HomeTitle__title__span {
  color: #BF9F78; /* Un color destacado para la parte "fotos" */
}

/* Media queries para pantallas pequeñas (smartphones) */
@media screen and (max-width: 1663px) {
  .HomeTitle__title {
    font-size: 3.7rem;
  }
}

@media screen and (max-width: 1399px) {
  .HomeTitle__title {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 911px) {
  .HomeTitle__title {
    font-size: 1.8rem;
  }
}




/* Considera agregar puntos de ruptura adicionales para pantallas más grandes si es necesario */
