/* Estilos base para HomeTitle */

.HomeTitle__header {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out; /* Transición suave para ajustes de margen */
}

.HomeTitle__title {
  font-size: 3rem;
  color: #F2F2F2; /* Color de texto oscuro */
  text-align: start;
  font-weight: bold;
  transition: font-size 0.3s ease-in-out, max-width 0.3s ease-in-out, text-align 0.3s ease-in-out; /* Transiciones suaves para tamaño de fuente, ancho máximo y alineación del texto */
}

.HomeTitle__title__span {
  color: #BF9F78; /* Un color destacado para la parte "fotos" */
}






@media screen and (min-width: 412px) {
 .HomeTitle__title {
  font-size: 1rem;
  color: #F2F2F2; /* Color de texto oscuro */
  text-align: start;
  font-weight: bold;
  transition: font-size 0.3s ease-in-out, max-width 0.3s ease-in-out, text-align 0.3s ease-in-out; /* Transiciones suaves para tamaño de fuente, ancho máximo y alineación del texto */
}
}


